<section class="section-wrapper-cta" id="cta-section">
    <div class="container-fluid">
        <div class="row cta-bg ml-1 mr-1 p-4">
            <div class="col-md-7">
                <div>
                    <h2 class="cta-heading">Ready to transform your business?</h2>
                    <p class="cta-description">All our customers says its easy to setup </p>
                    <div class="cta-ftr">
                        <p class="ftr">Accept all payments</p>
                    </div>
                    <div class="cta-ftr">
                        <p class="ftr">Get business data</p>
                    </div>
                    <div class="cta-ftr">
                        <p class="ftr">Integrate easily into your applications</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 my-auto">
                    <div class="cta-right-actions">
                            <a href="#" class="cta-btn mb-3 mb-md-0 ml-md-3 mr-3">Get started</a>
                            <a href="../contact.html" class="w-btn">Contact sales</a>
                        </div>
            </div>
        </div>
    </div>
</section>    